# Jobstreet All Job Data Analysis

Import necessary libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Load the dataset

In [4]:
df = pd.read_csv("C:/Project/Python project/Data Analyst/jobstreet_all_job_dataset.csv")

Display first five rows

In [9]:
print("The first 5 rows of the dataset:")
df.head()

The first 5 rows of the dataset:

,job_id,job_title,company,descriptions,location,category,subcategory,role,type,salary,listingDate
0,74630583.0,Procurement Executive (Contract),Coca-Cola Bottlers (Malaysia) Sdn Bhd,Position Purpose\nManage aspects of procuremen...,Negeri Sembilan,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",procurement-executive,Contract/Temp,NaN,2024-03-21T05:58:35Z
1,74660602.0,Account Executive/ Assistant,Acoustic & Lighting System Sdn Bhd,We are looking for a Account Executive/ Assist...,Petaling,Accounting,Bookkeeping & Small Practice Accounting,executive-assistant,Full time,"RM 2,800 – RM 3,200 per month",2024-03-22T06:52:57Z
2,74655679.0,"Data Analyst - Asset Management, SPX Express",Shopee Mobile Malaysia Sdn Bhd,Performs detailed data analysis on existing sp...,Klang District,"Manufacturing, Transport & Logistics",Analysis & Reporting,asset-management-analyst,Full time,NaN,2024-03-22T04:22:43Z
3,74657624.0,Service Engineer,Sun Medical Systems Sdn Bhd,"You are important for troubleshooting, install...",Petaling,Engineering,Electrical/Electronic Engineering,services-engineer,Full time,"RM 3,000 – RM 3,500 per month",2024-03-22T05:32:09Z
4,74679363.0,Purchasing Executive,Magnet Security & Automation Sdn. Bhd.,"MAG is a trailblazer in the industry, boasting...",Hulu Langat,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",purchasing-executive,Full time,"RM 2,800 – RM 3,500 per month",2024-03-23T03:56:39Z

Display dataset info

In [8]:
print("Dataset information:")
df.info()

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69024 entries, 0 to 69023
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_id        69024 non-null  float64
 1   job_title     69024 non-null  object
 2   company       69024 non-null  object
 3   descriptions  69024 non-null  object
 4   location      69024 non-null  object
 5   category      69024 non-null  object
 6   subcategory   69024 non-null  object
 7   role          66772 non-null  object
 8   type          69024 non-null  object
 9   salary        31594 non-null  object
 10  listingDate   69024 non-null  object
dtypes: float64(1), object(10)
memory usage: 5.8+ MB

Display dataset basic statistics

In [10]:
print("Dataset description:")
df.describe()

Dataset description:

             job_id
count  6.902400e+04
mean   7.614520e+07
std    3.014281e+06
min    7.134223e+07
25%    7.439537e+07
50%    7.499362e+07
75%    7.627486e+07
max    8.409473e+07

# Data Cleaning