# Load necessary libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Load the dataset

In [3]:
df = pd.read_csv("C:/Project/Python project/news_v1.csv")

# Display first 5 rows

In [4]:
print("First five rows:")
df.head()

First five rows:

,content_id,title,text,section,category,content_tier,content_length,authors,published_date,keywords,summary,url,top_image
0,1628064,Sabah forms GLC Monitoring Committee to enhanc...,KOTA KINABALU: In a significant move to improv...,News,Sabah & Sarawak,Complimentary,Medium,NaN,23/5/2025 0:00,"Sabah & Sarawak,Sabah,GLC Monitoring Committee...",KOTA KINABALU: In a significant move to improv...,https://www.thestar.com.my/news/nation/2025/05...,https://apicms.thestar.com.my/uploads/images/2...
1,1628059,"Water to return by midnight in Johor Baru, ass...",JOHOR BARU: Everyone affected by the major wat...,News,Nation,Complimentary,Short,NaN,23/5/2025 0:00,"Johor Baru,Water Disruption,Onn Hafiz Ghazi,Ra...",JOHOR BARU: Everyone affected by the major wat...,https://www.thestar.com.my/news/nation/2025/05...,https://apicms.thestar.com.my/uploads/images/2...
2,1628050,MBSA to probe mysterious blast-like sound hear...,SHAH ALAM: The Selangor government will conduc...,News,Nation,Complimentary,Short,NaN,23/5/2025 0:00,"Selangor,MBSA,Loud Bang,Explosion,Shah Alam",SHAH ALAM: The Selangor government will conduc...,https://www.thestar.com.my/news/nation/2025/05...,https://apicms.thestar.com.my/uploads/images/2...
3,1628027,Kelantan govt must take sex crimes against chi...,JOHOR BARU: The Kelantan government should tre...,News,Nation,Complimentary,Short,NaN,23/5/2025 0:00,"Politics,PKR,PKR Polls,Youth,Delegate,Debate,N...",JOHOR BARU: The Kelantan government should tre...,https://www.thestar.com.my/news/nation/2025/05...,https://apicms.thestar.com.my/uploads/images/2...
4,1628021,Two more ex-bank officers remanded over RM11.3...,SANDAKAN: Two former bank officers have been r...,News,Sabah & Sarawak,Complimentary,Short,NaN,23/5/2025 0:00,"Sabah & Sarawak,Courts Crime,Corruption,MACC,F...",SANDAKAN: Two former bank officers have been r...,https://www.thestar.com.my/news/nation/2025/05...,https://apicms.thestar.com.my/uploads/images/2...

# Display dataset info

In [5]:
print("Dataset Information:")
df.info()

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73377 entries, 0 to 73376
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   content_id      73377 non-null  int64
 1   title           73377 non-null  object
 2   text            73377 non-null  object
 3   section         73377 non-null  object
 4   category        73373 non-null  object
 5   content_tier    73377 non-null  object
 6   content_length  73377 non-null  object
 7   authors         4473 non-null   object
 8   published_date  73377 non-null  object
 9   keywords        55568 non-null  object
 10  summary         73268 non-null  object
 11  url             73377 non-null  object
 12  top_image       73377 non-null  object
dtypes: int64(1), object(12)
memory usage: 7.3+ MB

# Basic statistics

In [6]:
print("\nBasic statistics:")
print(df.describe())

Basic statistics:
         content_id
count  7.337700e+04
mean   1.453053e+06
std    1.026291e+05
min    4.087830e+05
25%    1.360545e+06
50%    1.452752e+06
75%    1.543738e+06
max    1.628096e+06

# Check for missing values

In [7]:
print("\nMissing values:")
print(df.isnull().sum())

Missing values:
content_id            0
title                 0
text                  0
section               0
category              4
content_tier          0
content_length        0
authors           68904
published_date        0
keywords          17809
summary             109
url                   0
top_image             0
dtype: int64

# Data Cleaning

# Fill category, authors, keywords, and summary with unknown because these attribute content are unique

In [8]:
drop_columns = ['category', 'authors', 'keywords', 'summary']
for col in drop_columns:
    if col in df.columns:
        df[col] = 'Unknown'

# Check missing value again

In [19]:
print("\nMissing values:")
print(df.isnull().sum())

Missing values:
content_id        0
title             0
text              0
section           0
category          0
content_tier      0
content_length    0
authors           0
published_date    0
keywords          0
summary           0
url               0
top_image         0
dtype: int64

#